.tshirt-item {
    float: left;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.tshirt-item img {
    height: 250px;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
}

.tshirt-item img:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.tshirt-item .item-control {
    padding: 15px 5px 5px;
}

.tshirt-item .item-control select {
    width: 100px;
    display: inline-block;
}