<p class="lead">Dev's T-shirt</p>
<div class="list-group">
    {{#link-to "products.javascript" class="list-group-item"}}
        Javascript
    {{/link-to}}
    <a href="#" class="list-group-item">Java</a>
    <a href="#" class="list-group-item">Ruby on Rails</a>
</div>

            